{% extends 'narrow.html.twig' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endfor %}

        <div class="form-group">
            <label for="inputEmail">E-Mail-Adresse:</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Passwort:</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">
            Anmelden
        </button>

        <p>
            <a href="{{ path("password_reset") }}">Password zurücksetzen</a>
        </p>
    </form>
{% endblock %}
