{% extends 'base.html.twig' %}

{% block title %}Veranstalter{% endblock %}

{% block body %}
    <h1>Veranstalter</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>E-Mail</th>
            <td>{{ organization.owner.email }}</td>
        </tr>
        </tbody>
        {% if organization.proposedOrganizationDetails %}
            <tbody>
            <tr>
                <th>Titel</th>
                <td>{{ organization.proposedOrganizationDetails.title }}</td>
            </tr>
            <tr>
                <th>Ansprechpartner (wird nicht veröffentlicht)</th>
                <td>{{ organization.proposedOrganizationDetails.contactName }}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{ organization.proposedOrganizationDetails.description | nl2br }}</td>
            </tr>
            <tr>
                <th>Link zur Homepage</th>
                <td><a href="{{ organization.proposedOrganizationDetails.link }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.link }}</a></td>
            </tr>
            <tr>
                <th>Link zu Stellenangeboten</th>
                <td><a href="{{ organization.proposedOrganizationDetails.jobsUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.jobsUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zur Facebook-Seite</th>
                <td><a href="{{ organization.proposedOrganizationDetails.facebookUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.facebookUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum Twitter-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.twitterUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.twitterUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zu Youtube-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.youtubeUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.youtubeUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum Instagram-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.instagramUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.instagramUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum Xing-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.xingUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.xingUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum LinkedIn-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.linkedinUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.linkedinUrl }}</a></td>
            </tr>
            </tbody>
        {% endif %}
    </table>

    {% if not organization.proposedOrganizationDetails %}
        <div class="alert alert-info clearfix" role="alert">
            Bisher wurden keine Detailinformationen zum Veranstalter erfasst.
        </div>
    {% elseif organization.accepted %}
        <div class="alert alert-success" role="alert">
            Diese Veranstalterinformationen sind bereits freigegeben.
        </div>
    {% else %}
        <div class="alert alert-info clearfix" role="alert">
            Dieser Veranstalter wurde {% if organization.acceptedOrganizationDetails %}(in dieser Version){% endif %}
            bisher nicht freigegeben.

            {% if is_granted('ROLE_EDITOR') %}
                <form class="inline pull-right" method="post"
                      action="{{ path('organization_accept', {'id': organization.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ organization.id) }}">
                    <button class="btn btn-primary"><i class="fa fa-check"></i> Veranstalter freigeben</button>
                </form>

                <p>
                    <i class="fa fa-envelope"></i> <a href="mailto:{{ organization.owner.email }}">E-Mail an
                        Veranstalter senden</a>.
                </p>
            {% endif %}

        </div>
    {% endif %}

    {% if is_granted('ROLE_EDITOR') %}
        {{ render(controller("App\\Controller\\OrganizationController::logo", { 'id': organization.id })) }}
    {% endif %}

    <a href="{{ path('organization_index') }}">zurück zur Liste der Veranstalter</a>

{% endblock %}
