{% extends 'base.html.twig' %}

{% block title %}Veranstalter{% endblock %}

{% block body %}
    <h1>Veranstalter</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>E-Mail</th>
            <td>{{ organization.owner.email }}</td>
        </tr>
        </tbody>
        {% if organization.proposedOrganizationDetails %}
            <tbody>
            <tr>
                <th>Titel</th>
                <td>{{ organization.proposedOrganizationDetails.title }}</td>
            </tr>
            <tr>
                <th>Ansprechpartner (wird nicht veröffentlicht)</th>
                <td>{{ organization.proposedOrganizationDetails.contactName }}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{ organization.proposedOrganizationDetails.description | nl2br }}</td>
            </tr>
            <tr>
                <th>Link zur Homepage</th>
                <td><a href="{{ organization.proposedOrganizationDetails.link }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.link }}</a></td>
            </tr>
            <tr>
                <th>Link zur Facebook-Seite</th>
                <td><a href="{{ organization.proposedOrganizationDetails.facebookUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.facebookUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum Twitter-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.twitterUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.twitterUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zu Youtube-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.youtubeUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.youtubeUrl }}</a></td>
            </tr>
            <tr>
                <th>Link zum Instagram-Profil</th>
                <td><a href="{{ organization.proposedOrganizationDetails.instagramUrl }}"
                       target="_blank">{{ organization.proposedOrganizationDetails.instagramUrl }}</a></td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>
                    {% if organization.proposedOrganizationDetails.logoBlob %}
                        <a href="{{ path('logo_download', { id: organization.proposedOrganizationDetails.id}) }}">
                            <img class="logo_preview"
                                 src="{{ path('logo_download', { id: organization.proposedOrganizationDetails.id}) }}"
                                 alt="Aktuelle hinterlegtes Logo"/>
                        </a>
                    {% else %}
                        <em>Es ist kein Logo hinterlegt.</em>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endif %}
    </table>

    {% if not organization.proposedOrganizationDetails %}
        <div class="alert alert-info clearfix" role="alert">
            Dieser Veranstalter hat bisher keine Detailinformationen erfasst.
        </div>
    {% elseif organization.accepted %}
        <div class="alert alert-success" role="alert">
            Dieser Veranstalter ist bereits freigegeben.
        </div>
    {% else %}
        <div class="alert alert-info clearfix" role="alert">
            Dieser Veranstalter wurde {% if organization.acceptedOrganizationDetails %}(in dieser Version){% endif %}
            bisher nicht freigegeben.

            <form class="inline pull-right" method="post"
                  action="{{ path('organization_accept', {'id': organization.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ organization.id) }}">
                <button class="btn btn-primary"><i class="fa fa-check"></i> Veranstalter freigeben</button>
            </form>

            <p>
                <i class="fa fa-envelope"></i> <a href="mailto:{{ organization.owner.email }}">E-Mail an Veranstalter
                    senden</a>.
            </p>

        </div>
    {% endif %}

    <a href="{{ path('organization_index') }}">zurück zur Liste der Veranstalter</a>

{% endblock %}
