{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste der Ausbildungsstätten</h1>

    {% if is_granted('ROLE_EDITOR') %}
        Filter: <a href="?">alle</a> | <a href="?has_changes">nicht freigegebene Änderungen</a> | <a
            href="?not_approved">ohne Freigabe</a>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Ort</th>
            <th>Freigabe</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for apprenticeship in apprenticeships %}
            <tr>
                <td>{{ apprenticeship.proposedDetails.location.name }}</td>
                <td>{{ apprenticeship.proposedDetails.location.city }}</td>
                <td>
                    {% if apprenticeship.accepted %}
                        <i class="fa fa-check" title="freigegeben"></i>
                    {% else %}
                        <i class="fa fa-hourglass-2" title="warten auf Freigabe"></i>
                    {% endif %}
                </td>
                <td class="apprenticeship-actions">
                    <a class="btn btn-outline-secondary btn-sm" title="anzeigen"
                       href="{{ path('apprenticeship_show', {'id': apprenticeship.id}) }}"><i class="fa fa-eye"></i></a>

                    <a class="btn btn-outline-secondary btn-sm" title="bearbeiten"
                       href="{{ path('apprenticeship_edit', {'id': apprenticeship.id}) }}"><i class="fa fa-pencil"></i></a>

                    {{ include('apprenticeship/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Keine Ausbildungsstätten gefunden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not is_granted('ROLE_EDITOR') %}
        <a class="btn btn-success" href="{{ path('apprenticeship_new') }}">Neue Ausbildungsstätte vorschlagen</a>
    {% endif %}
{% endblock %}
