<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>WueWW: Neue Events</title>
        <link>{{ url('welcome') }}</link>
        <atom:link href="{{ url('rss_feed_approved_sessions') }}" rel="self" type="application/rss+xml"/>
        <description>Infos zu den neuesten Events der Wuerzburg Web Week.</description>
        <language>de-de</language>
        <lastBuildDate>{{ "now" | date('r') }}</lastBuildDate>
        <generator>https://github.com/WueWW/wueww-tool/</generator>
        <ttl>60</ttl>
        {% for session in sessions %}
            <item>
                <title>{{ session.acceptedDetails.title }}</title>
                <description>
                    {% set htmlContent %}
                        {% if session.acceptedDetails.longDescription %}
                            {{ session.acceptedDetails.longDescription | nl2br }}
                        {% else %}
                            {{ session.acceptedDetails.shortDescription | nl2br }}
                        {% endif %}

                        <p><em>Wer?</em> {{ session.organization.title }}</p>
                        <p><em>Wann?</em> {{ session.start | date('d.m.Y H:i') }}{% if session.stop is not null %} bis {{ session.stop | date('H:i') }} Uhr{% endif %}</p>
                        <p><em>Wo?</em> {% if session.acceptedDetails.location starts with 'http' -%}
                                <a href="{{ session.acceptedDetails.location }}">{{ session.acceptedDetails.location }}</a>
                            {% else -%}
                                {{ session.acceptedDetails.location -}}
                            {% endif -%}
                        </p>
                    {% endset %}
                    {{ htmlContent | escape }}
                </description>
                <link>https://digital-events.wueww.de/#/veranstaltung/{{ session.id }}</link>
                <pubDate>{{ session.acceptedAt | date('r') }}</pubDate>
                <guid>{{ url('session_show', { id: session.id }) }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
