{{ form_start(form) }}

<h2>Worum geht's?</h2>
{{ form_row(form.title) }}
{{ form_row(form.shortDescription) }}

<h2>Rahmendaten</h2>

{{ form_row(form.homeOffice) }}
{{ form_row(form.oeffiErreichbarkeit) }}
{{ form_row(form.slackTime) }}
{{ form_row(form.gehaltsvorstellung) }}

{{ form_row(form.weiterbildungsbudget) }}
{{ form_row(form.teilzeitPossible) }}

<h2>Unternehmensort</h2>

{{ form_widget(form.fullyRemote) }}

<div id="office-job-details">
    {{ form_widget(form.location) }}

    <label>Position der Location auf der Karte (Eingang zum Gebäude, zum Festlegen Karte anklicken)</label>
    <div id="map"></div>
</div>

<h2>Sonstiges</h2>
{{ form_rest(form) }}

<button class="btn btn-primary">Speichern</button>

{{ form_end(form) }}
