{{ form_start(form) }}

<h2>Wann?</h2>
{{ form_row(form.date) }}
{{ form_row(form.start) }}
{{ form_row(form.stop) }}
<div id="parallel-session-hint-box"></div>

<h2>Worum geht's?</h2>

{{ form_row(form.title) }}

<div class="alert alert-info" role="alert" style="margin-top: 2rem">
    <p>
        Bitte beschreibe dein Event zunächst mit einem (kurzen) Teaser-Text. Ein Absatz. Worum geht's?
        Wer ist die Zielgruppe?<br/>
        In der Detailbeschreibung kannst du konkreter werden. Im Veranstaltungskalender werden beide Texte
        übereinander angezeigt.
    </p>
</div>

{{ form_row(form.shortDescription) }}
{{ form_row(form.longDescription) }}

<div class="alert alert-info" role="alert">
    <p><strong>Kategorien – darum geht's</strong></p>

    <p>
        Die WueWW hatte letztes Jahr 205 Veranstaltungen an den acht Veranstaltungstagen. Von vielen kam der Wunsch nach
        Filtern, um nicht von der schieren Masse an Terminen erschlagen zu werden.
    </p>

    <p>
        Wir haben uns daher entschieden, euch Kategorien vorzuschlagen und sie entsprechend farblich im Progamm auf der
        Webseite darzustellen.
    </p>

    <p>
        Bitte wähle jetzt die Kategorie aus, die auf dein Event am besten zutrifft. Das wird vielleicht nicht immer zu
        100 Prozent passen. Du hilfst damit aber anderen, einen besseren Überblick zu bekommen und davon profitieren wir
        alle: Veranstalter und Teilnehmer (m/w/d) und so auch die WueWW. Danke!
    </p>
</div>

{{ form_row(form.channel) }}

<h2>Veranstaltungsort</h2>

{{ form_widget(form.onlineOnly) }}

<div class="alert alert-info" role="alert" style="margin-top: 1rem">
    <p>
        Erfasst Hinweise, wie man bei eurer Online-Veranstaltung teilnehmen kann, bitte oben mit in der Langbeschreibung
        (welche Software wird verwendet, wann bekommt man wie die Zugangsdaten usw.).
    </p>
</div>

<div id="offline-session-details">
    {{ form_widget(form.location) }}

    <label>Position der Location auf der Karte (Eingang zum Gebäude, zum Festlegen Karte anklicken)</label>
    <div id="map"></div>
</div>

<h2>Sonstiges</h2>
{{ form_rest(form) }}

{% if is_granted('ROLE_EDITOR') %}
    <button class="btn btn-primary">Speichern</button>
{% else %}
    <button class="btn btn-light" name="draft">Entwurf speichern</button>
    <button class="btn btn-primary">Speichern und zur Freigabe geben</button>
{% endif %}

{{ form_end(form) }}
