{{ form_start(form) }}

<h2>Wann?</h2>
{{ form_row(form.date) }}
{{ form_row(form.start) }}
{{ form_row(form.stop) }}
<div id="parallel-session-hint-box"></div>

<h2>Worum geht's?</h2>

<div class="alert alert-info" role="alert">
    <p>
        In der Vergangenheit wurde häufig der Wunsch an uns heran getragen, die Events zu kategorisieren.
        Falls deine Veranstaltung mehrere Kanälen betrifft, wähle bitte jenen, welcher am besten passt.
    </p>
    <p>
        Wir möchten die Kanäle filterbar und farblich wiedererkennbar darstellen.
        Daher ist eine eindeutige Zuordnung erforderlich.
    </p>
</div>

{{ form_row(form.channel) }}
{{ form_row(form.title) }}

<div class="alert alert-info" role="alert" style="margin-top: 2rem">
    <p>
        Bitte beschreibe dein Event zunächst mit einem (kurzen) Teaser-Text.  Ein Absatz.  Worum geht's?
        Wer ist die Zielgruppe?<br/>
        In der Detailbeschreibung kannst du konkreter werden.  Im Veranstaltungskalender werden beide Texte
        übereinander angezeigt.
    </p>
</div>

{{ form_row(form.shortDescription) }}
{{ form_row(form.longDescription) }}

<h2>Veranstaltungsort</h2>

{{ form_widget(form.onlineOnly) }}

<div class="alert alert-info" role="alert" style="margin-top: 1rem">
    <p>
        Erfasst Hinweise, wie man bei eurer Online-Veranstaltung teilnehmen kann, bitte oben mit in der Langbeschreibung
        (welche Software wird verwendet, wann bekommt man wie die Zugangsdaten usw.).
    </p>
</div>

<div id="offline-session-details">
{{ form_widget(form.location) }}

<label>Position der Location auf der Karte (Eingang zum Gebäude, zum Festlegen Karte anklicken)</label>
<div id="map"></div>
</div>

<h2>Sonstiges</h2>
{{ form_rest(form) }}

{% if is_granted('ROLE_EDITOR') %}
<button class="btn btn-primary">Speichern</button>
{% else %}
<button class="btn btn-light" name="draft">Entwurf speichern</button>
<button class="btn btn-primary">Speichern und zur Freigabe geben</button>
{% endif %}

{{ form_end(form) }}
