{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ session.start ? session.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stop</th>
                <td>{{ session.stop ? session.stop|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cancelled</th>
                <td>{{ session.cancelled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_index') }}">zurück zur Sessionliste</a>

{% endblock %}
