{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    {{ include('session/_orgdata_missing_info.html.twig') }}
    {{ include('session/_orgdata_not_accepted.html.twig') }}

    <h1>Event</h1>

    {% if session.start is null %}
        <div class="alert alert-danger" role="alert">
            <p>
                Aktuell ist kein Beginn-Zeitpunkt erfasst. Das Event wird daher nicht veröffentlicht.
            </p>
        </div>
    {% endif %}

    {% if is_granted('ROLE_EDITOR') -%}
        {% set detail = session.proposedDetails -%}
    {% else -%}
        {% set detail = session.draftDetails -%}
    {% endif -%}

    <table class="table">
        <tbody>
        <tr>
            <th>Beginn</th>
            <td>{{ session.start ? session.start|date('d.m.Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Ende</th>
            <td>{{ session.stop ? session.stop|date('d.m.Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Abgesagt?</th>
            <td>{{ session.cancelled ? 'Ja' : 'Nein' }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th>Kategorie</th>
            <td>
                {% if detail.channel %}
                    {{ detail.channel.name }}
                {% else %}
                    <em>keine Angabe</em>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Titel</th>
            <td>{{ detail.title }}</td>
        </tr>
        <tr>
            <th>Beschreibung</th>
            <td>
                <p><strong>{{ detail.shortDescription | nl2br }}</strong></p>
                <p>{{ detail.longDescription | nl2br }}</p>
            </td>
        </tr>
        <tr>
            <th>Veranstaltungsort</th>
            <td>
                {% if detail.onlineOnly %}
                    <em>findet ausschließlich online statt</em>
                {% else %}
                    {{ detail.location.name }}, {{ detail.location.streetNo }},
                    {{ detail.location.zipcode }} {{ detail.location.city }}
                {% endif %}
            </td>
        </tr>
        {% if not detail.onlineOnly %}
            <tr>
                <th>Karte</th>
                <td>
                    <form autocomplete="off">
                        <input type="hidden" id="session_with_detail_locationLat"
                               value="{{ detail.locationLat }}"/>
                        <input type="hidden" id="session_with_detail_locationLng"
                               value="{{ detail.locationLng }}"/>
                        <div id="map" class="readonly"></div>
                    </form>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Link</th>
            <td>
                {% if "@" in detail.link %}
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ detail.link }}">{{ detail.link }}</a>
                {% else %}
                    <a href="{{ detail.link }}" target="_blank">{{ detail.link }}</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_EDITOR') %}
        <h2>Veranstalter</h2>

        <table class="table">
            <tbody>
            {% if session.organization.proposedOrganizationDetails %}
                <tr>
                    <th>Titel</th>
                    <td>{{ session.organization.proposedOrganizationDetails.title }}</td>
                </tr>
                <tr>
                    <th>Ansprechpartner</th>
                    <td>{{ session.organization.proposedOrganizationDetails.contactName }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>E-Mail-Adresse</th>
                <td>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ session.organization.owner.email }}">{{ session.organization.owner.email }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if session.accepted %}
        <div class="alert alert-success" role="alert">
            Dieses Event ist bereits freigegeben.
        </div>

        {% if session.hasDraft %}
            <div class="alert alert-info" role="alert">
                Zu diesem Event existieren Änderungen, die jedoch noch nicht zur Freigabe eingereicht wurden.
            </div>
        {% endif %}
    {% elseif session.proposed %}
        <div class="alert alert-info clearfix" role="alert">
            Dieses Event wurde {% if session.acceptedDetails %}(in dieser Version){% endif %} bisher nicht freigegeben.

            {% if is_granted('ROLE_EDITOR') %}
                <form class="inline pull-right" method="post" action="{{ path('session_accept', {'id': session.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ session.id) }}">
                    <button class="btn btn-primary"><i class="fa fa-check"></i> Event freigeben</button>
                </form>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Dieses Event wurde bisher nicht zur Freigabe eingereicht.
        </div>
    {% endif %}

    <a href="{{ path('session_index') }}">zurück zur Eventliste</a>

{% endblock %}
