{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    {{ include('session/_orgdata_missing_info.html.twig') }}

    <h1>Session</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Beginn</th>
            <td>{{ session.start ? session.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Ende</th>
            <td>{{ session.stop ? session.stop|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Abgesagt?</th>
            <td>{{ session.cancelled ? 'Ja' : 'Nein' }}</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th>Titel</th>
            <td>{{ session.proposedDetails.title }}</td>
        </tr>
        <tr>
            <th>Kurzbeschreibung</th>
            <td>{{ session.proposedDetails.shortDescription | nl2br }}</td>
        </tr>
        <tr>
            <th>Langbeschreibung</th>
            <td>{{ session.proposedDetails.longDescription | nl2br }}</td>
        </tr>
        <tr>
            <th>Veranstaltungsort</th>
            <td>{{ session.proposedDetails.location.name }}, {{ session.proposedDetails.location.streetNo }},
                {{ session.proposedDetails.location.zipcode }} {{ session.proposedDetails.location.city }}</td>
        </tr>
        <tr>
            <th>Link</th>
            <td><a href="{{ session.proposedDetails.link }}" target="_blank">{{ session.proposedDetails.link }}</a></td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_EDITOR') %}
        <h2>Veranstalter</h2>

        <table class="table">
            <tbody>
            {% if session.organization.proposedOrganizationDetails %}
                <tr>
                    <th>Titel</th>
                    <td>{{ session.organization.proposedOrganizationDetails.title }}</td>
                </tr>
                <tr>
                    <th>Ansprechpartner</th>
                    <td>{{ session.organization.proposedOrganizationDetails.contactName }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>E-Mail Adresse</th>
                <td>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ session.organization.owner.email }}">{{ session.organization.owner.email }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if session.accepted %}
        <div class="alert alert-success" role="alert">
            Diese Session ist bereits freigegeben.
        </div>
    {% else %}
        <div class="alert alert-info clearfix" role="alert">
            Diese Session wurde {% if session.acceptedDetails %}(in dieser Version){% endif %} bisher nicht freigegeben.

            {% if is_granted('ROLE_EDITOR') %}
                <form class="inline pull-right" method="post" action="{{ path('session_accept', {'id': session.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ session.id) }}">
                    <button class="btn btn-primary"><i class="fa fa-check"></i> Session freigeben</button>
                </form>
            {% endif %}
        </div>
    {% endif %}

    <a href="{{ path('session_index') }}">zurück zur Sessionliste</a>

{% endblock %}
